<ion-view view-title="home module">
  <!-- do you want padding? -->
  <ion-content class="no-padding homeBodyContent">
      <div class="profileSection">
        <div class="profilePic">
          <img alt="Profile Pic" src="/home/assets/images/logo.png"></img>
        </div>
        <div class="profileDetails">
          <div class="profileName">Chandani Lekhwani</div>
          <div class="workTiming">00:50</div>
          <div class="workAlert">Finish Coffee</div>
          <div class="workDetails">
            <span class="ion-briefcase"></span><strong>Work</strong> Started at 9:45 PM
          </div>
          <div class="workLocation">
            <span class="ion-location"></span> <strong>HSR, Bengaluru</strong>
          </div>
        </div>
      </div>
      <div class="breakPointsSection">
        <div class="row">
          <div class="breaktypes activeTab">
            <span class="icons ion-coffee"></span><br/><span>Coffee</span>
          </div>
          <div class="breaktypes">
            <span class="icons ion-egg"></span><br/><span>Lunch</span>
          </div>
          <div class="breaktypes">
            <span class="icons ion-android-people"></span><br/><span>Client</span>
          </div>
          <div class="breaktypes">
            <span class="icons ion-android-bus"></span><br/><span>Transport</span>
          </div>
          <div class="breaktypes">
            <span class="icons ion-more"></span><br/><span>More</span>
          </div>
        </dv>
      </div>
      <div class="dateSection"></div>
      <div class="discriptionSection">
        <div class="typeSelection"></div>
        <div class="tableContentSection"></div>
      </div>
  
    
    </ion-content>
</ion-view>
