<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!-- ionic meta tags -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- custom meta tags -->
    <meta name="format-detection" content="telephone=no"> <!-- no auto telephone linking -->

    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- can be saved to home screen on ios -->
    <title>PCR Learning</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css main/styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="chat/styles/chat.css">
    <link rel="stylesheet" href="common/styles/common.css">
    <link rel="stylesheet" href="feeds/styles/feeds.css">
    <link rel="stylesheet" href="home/styles/home.css">
    <link rel="stylesheet" href="member/styles/member.css">
    <link rel="stylesheet" href="splash/styles/splash.css">
    <link rel="stylesheet" href="todo/styles/todo.css">
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-app="pcrLearning">

    <!-- the nav bar will be updated as we navigate between views -->
    <!-- <ion-nav-bar> can be removed when using sidemenu (contained in menu.html) -->
    <!-- <ion-nav-bar class="bar-light">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar> -->
    <!-- the current view will be rendered in the <ion-nav-view> directive -->
    <!-- <ion-nav-view></ion-nav-view> -->

    <ion-pane ng-controller="commonCtrl">
        <ion-header-bar class="headerBar">
            <div class="buttons">
              <span class="icons menuBar ion-android-menu"></span>
            </div>
            <h1 class="title">PCR</h1>
            <div class="buttons">
              <span class="icons moreIcon ion-android-more-vertical"></span>
            </div>
            <div class="addmore">
              <span class="icons ion-plus"></span>
            </div>
        </ion-header-bar>
      <ion-pane>
        <ion-nav-view></ion-nav-view>
      </ion-pane>
      <ion-footer-bar class="footerBar">
        <div class="row tabs-container">
          <div class="list-tab" ng-click="showHome();" ng-class="(activeTab == 'home') ? 'active-tab' : 'inactive-tab'">
            <span class="ion-android-home"></span>
          </div>
          <div class="list-tab" ng-click="showFeeds();" ng-class="(activeTab == 'feeds') ? 'active-tab' : 'inactive-tab'">
            <span class="ion-android-checkbox-outline"></span>
          </div>
          <div class="list-tab" ng-click="showMember();" ng-class="(activeTab == 'member') ? 'active-tab' : 'inactive-tab'">
            <span class="ion-ios-people"></span>
          </div>
          <div class="list-tab" ng-click="showTodo();" ng-class="(activeTab == 'todo') ? 'active-tab' : 'inactive-tab'">
              <span class="ion-ios-paper"></span>
          </div>  
          <div class="list-tab" ng-click="showChat();" ng-class="(activeTab == 'chat') ? 'active-tab' : 'inactive-tab'">
              <span class="ion-chatbubbles"></span>
          </div>
        </div>
      </ion-footer-bar>
    </ion-pane>


    <!-- will be a 404 during development -->
    <!-- <script src="cordova.js"></script> -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/localforage/dist/localforage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/app.js -->
    <!-- inject:js -->
    <script src="todo/todo.js"></script>
    <script src="todo/controllers/todo-ctrl.js"></script>
    <script src="todo/constants/todo-config-const.js"></script>
    <script src="splash/splash.js"></script>
    <script src="splash/constants/splash-config-const.js"></script>
    <script src="member/member.js"></script>
    <script src="member/controllers/member-ctrl.js"></script>
    <script src="member/constants/member-config-const.js"></script>
    <script src="home/home.js"></script>
    <script src="home/controllers/home-ctrl.js"></script>
    <script src="home/constants/home-config-const.js"></script>
    <script src="feeds/feeds.js"></script>
    <script src="feeds/controllers/feeds-ctrl.js"></script>
    <script src="feeds/constants/feeds-config-const.js"></script>
    <script src="common/common.js"></script>
    <script src="common/controllers/common-ctrl.js"></script>
    <script src="common/constants/common-config-const.js"></script>
    <script src="chat/chat.js"></script>
    <script src="chat/controllers/chat-ctrl.js"></script>
    <script src="chat/constants/chat-config-const.js"></script>
    <script src="app.js"></script>
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
