<ion-view view-title="member module">
  <!-- do you want padding? -->
  <ion-content class="padding">
      <div class="list list-inset search-panel">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search for member...">
          </label>
        </div>
        <div class="card">
          <div class="list members-list">
        
             <a class="item item-thumbnail-left">
              <img src="/member/assets/images/profile.png">
              <p class="status">
                                <span class="active"><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <span class="in_progress"><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <span class="pending"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            </p>
              <h2 class="text-left">Chandani</h2>
              <p class="icon-left ion-home text-left"><label>Work from Home</label></p>
               <p class="text-left">Clocked in 9:45 AM</p>
              <p class="icon-right ion-chatbubble-working text-right chat-icon"></p>
               
            </a>       
        </div>
        </div>

        <div class="card">
            <div class="list members-list">
          
               <a class="item item-thumbnail-left">
                <img src="/member/assets/images/pro.png">
                <p class="status">
                                  <span class="active"><i class="fa fa-circle" aria-hidden="true"></i></span>
                                  <span class="in_progress"><i class="fa fa-circle" aria-hidden="true"></i></span>
                                  <span class="pending"><i class="fa fa-circle" aria-hidden="true"></i></span>
                              </p>
                <h2 class="text-left">Chandani</h2>
                <p class="icon-left ion-home text-left"><label>Work from Home</label></p>
                 <p class="text-left">Clocked in 9:45 AM</p>
                <p class="icon-right ion-chatbubble-working text-right chat-icon"></p>
                 
              </a>       
          </div>
        </div>
        
  </ion-content>
</ion-view>
