.search-panel{
    margin:0;
  }
  .search-panel .item-input{
    border:none;
    background:#eee;
  }
  .members-list img{
    border-radius:50%;
  }
  .members-list .item{
    border:none;
  }
  .members-list label{
    font-size:16px;
  }
  .members-list .chat-icon{
    position:absolute;
    top:30%;
    right:15%;
    font-size:20px;   
  }
  